<h1>Genre name: <%= @genre.name %></h1>

<p><%= link_to "Edit this genre", edit_genre_path %>
<p><%= link_to "See all genres", genres_path %></p>
<p><%= link_to "See all artists", artists_path %></p>
<p><%= link_to "See all songs", songs_path %></p>